p,
label,
button,
textarea {
	font-size: 20px;
}

::placeholder {
	color: #0f0f0f;
}

textarea,
input {
	color: Black;
}

.todo {
	background-color: #d1ffbb;
}

.todos {
	min-height: 90px;
}

textarea {
	resize: none;
	width: 100%;
}

label {
	display: block;
}

.myBtn {
	margin-top: 20px;
}

.status {
	background-color: Wheat;
}
